*{
    margin: 0;
    padding: 0;
    font-size: Arial, sans-serif;
}

.main{
    display: flex;
}

.right-side{
    position: relative;
    /* border: 1px solid black; */
    width: 250px;
    /* height: 800px; */
    margin-left: 10px;
}

#painter{
    margin: 0px 0 0 10px;
    border: 1px solid black;
}
#sketcher{
    position: absolute;
    border: 1px solid black;
    top: 0px;
    left: 10px;
}

.title {
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(218, 218, 218);
    box-shadow: 2px 5px 18px #888888;
    color: white;
    background-color: #2a3d52;
}
.title h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
}
.title img{
    margin-right: 5px;
}
.title span{
    display: inline;
}

.title a{
    margin-left: auto;
}

.action {
    text-align: center;
    padding: 20px;
}
.action > div{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}
.action button {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}
.action button:hover,
.action button:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}
.action button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}
.action button:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}
.action button i{
    margin-right: 5px;
}

.option {
    padding: 10px;
}
.pencil-type, .shape-type, .canvas-size, .canvas-opacity, .canvas-color{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.option div {
    margin-bottom: 10px;
}

.footer {
    text-align: center;
    color: white;
    background-color: #2a3d52;
    padding: 10px;
    width: 208px;
    position: absolute;
    bottom: 0px;
    right: 0px
}
.footer-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 10 !important;
    letter-spacing: 1px;
    margin-bottom: 8px;
}
.footer a {
    color: white;
}
